
/* Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar*/
header{
    height: 40px;
    background-color: rgb(173, 216, 230);
    display: flex;
    align-items: center;
    justify-content: space-between; /*non funziona anche dopo che ho messo le width sui singoli e display flex+justify+align-items nell'header*/
    padding: 0 10rem;
}

.box>.nav{
    background:rgb(218, 165, 32);
    height: 25px;
    border: 2px dotted;
}
/* fine navbar*/

/* section box rosa con sfondo blu*/
.container{
    height: 320px;
    background-color:rgb(0, 0, 139);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>.rosa-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 80%;
    background-color: rgb(238, 130, 238);
    border: 2px dotted;
}
/*fine section box rosa con sfondo blu*/

/*section box blu-rosa con sfondo bianco*/
.container-due{
    background-color: rgb(255, 255, 255);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
}

.container-due>.blu-box{
    width: 60%;
    background-color:rgb(30, 144, 255);
    height: 300px;
    border: 2px dotted;
}

.container-due>.rosa-box{
    width: 40%;
    background-color:rgb(255, 192, 203);
    height: 300px ;
    border: 2px dotted;
}
/*fine section box blu-rosa con sfondo bianco*/

/*section box blu-rosa con sfondo bianco flippato*/
.container-tre{
    background-color:rgb(211, 211, 211);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
    flex-direction: row-reverse;
}

.container-tre>.blu-box{
    width: 60%;
    background-color:rgb(30, 144, 255);
    height: 300px;
    border: 2px dotted;
}

.container-tre>.rosa-box{
    width: 40%;
    background-color:rgb(255, 192, 203);
    height: 300px ;
    border: 2px dotted;
}
/*fine section box blu-rosa con sfondo bianco flippato*/

/*terzo section box blu-rosa con sfondo bianco */
.container-quattro{
    background-color: rgb(255, 255, 255);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
}

.container-quattro>.blu-box{
    width: 60%;
    background-color:rgb(30, 144, 255);
    height: 300px;
    border: 2px dotted;
}

.container-quattro>.rosa-box{
    width: 40%;
    background-color:rgb(255, 192, 203);
    height: 300px ;
    border: 2px dotted;
}

/*box-verde*/
.container-verde{
    background-color:rgb(211, 211, 211);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
}

.container-verde>.verde-box{
    width: 100%;
    background-color:rgb(34, 139, 34);
    height: 440px;
    border: 2px dotted;
}
/*fine box-verde*/

/*box rosso e azzurro*/
.container-cinque{
    background-color:rgb(35, 39, 42);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
}

.container-cinque>.rosso-box{
    width: 30%;
    background-color:rgb(240, 128, 128);
    height: 300px;
    border: 2px dotted;
}

.container-cinque>.azzurro-box{
    width: calc(70% / 4);
    background-color:rgb(32, 178, 170);
    height: 300px ;
    border: 2px dotted white;
}
/*fine box rosso e azzurro*/

hr{
    background-color:rgb(224, 224, 224) ;
}

/*footer*/
footer{
    background-color: rgb(35, 39, 42);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
}

.final-box{
    display: flex;
    background-color: rgb(127, 255, 212);
    width: 100%;
    height: 33px;
    align-items: center;
    justify-content: space-between;
}    

.final-box>.end{
    display: flex;
    background-color:rgb(255, 182, 193);        
    height: 25px;
    align-items: center;
    border: 2px dotted;
}





